<h4> LISTA DE RESERVAS PENDIENTES DE CONFIRMACIÓN </h4>
    <p> <%= link_to "Crear nuevo registro", registro_new_path %> </p>
<ul>
<% @registros.each do |t| %>
        <li>
        <h2> <%= t.transfer_date %> - <%= t.mail %> - <%= t.name %>  -  <%= t.phone %>  <%= link_to "Ver", t.id  %></h2>
            
            
            
            </br>
        </li>
<% end %>
</ul>


